
<div *ngIf="identity" class="title navigation col-lg-1">
  <h1 class="text-center">
    {{title}}
  </h1>  
  <span> 
  	{{ identity.name}} {{ identity.surname}}
  </span>

  <span class="btn btn-warning" (click)="logout()" >
  		Cerrar sesíon
  </span>
 
</div>
<div class="clearfix">
	  	
</div>
<div class="col-md-12" *ngIf="!identity">
	<div class="col-md-6">
		<div *ngIf="errorMessage" >
			<div class="alert alert-info">
			  <strong>Error</strong> {{errorMessage}}
			</div>
		</div>
	 	<div class="container">
	        <div class="card card-container">
	        	<legend>Identificate</legend>

	            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-signin">
	                <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
	                <span *ngIf="!email.valid && email.touched">
	                	El email es obligatorio
	                </span>
	                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
	                <div id="remember" class="checkbox">
	                    <label>
	                        <input type="checkbox" value="remember-me"> Recuerdame
	                    </label>
	                </div>
	                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Entrar">
	            </form><!-- /form -->
	            <a href="#" class="forgot-password">
	                Olvidaste la contraseña?
	            </a>
	        </div><!-- /card-container -->
	    </div><!-- /container -->
	</div>

	<div class="col-md-6">
	    <div class="card card-container ">
	        <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister" action="" method="POST" role="form">
	        	<legend>Registrate</legend>
	        
	        	<div class="form-group">
	        		<label for="">Nombre</label>
	        		<input id="idName" #name="ngModel" name="name" [(ngModel)]="user_register.name"  type="text" class="form-control"  placeholder="Nombre">
	        		 <span *ngIf="!name.valid && name.touched">
	                	El nombre es obligatorio
	                </span>

	        		<label for="">Apellidos</label>
	        		<input id="idSurname" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"  type="text" class="form-control"  placeholder="Apellido">
	        		 <span *ngIf="!surname.valid && surname.touched">
	                	Los apellidos son obligatorio
	                </span>

	        		<label for="">Email</label>
	        		<input id="idEmail" #email="ngModel" name="email" [(ngModel)]="user_register.email" type="text" class="form-control"  placeholder="Email">
	        		<span *ngIf="!email.valid && email.touched">
	                	El email es obligatorio
	                </span>

	        		<label for="">Contraseña</label>
	        		<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="idPassword" class="form-control" placeholder="Contraseña" required>
	        	</div>
	        
	        	<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
	        </form>
	            
	    </div><!-- /card-container -->
	</div>

</div>




